<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Emp Management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/emp/home/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/emp/add-emp/">Add Employee</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">View Employee</a></li>
              <li><a class="dropdown-item" href="#">About</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Follow</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/emp/testimonials/">Testimonials</a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link" href="/emp/feedback/">Feedback</a>
          </li>
      
        </ul>
      
      </div>
    </div>
  </nav>