<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      {% include 'navbar.html'  %}

      <h1>The services that we provide</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, ab
        mollitia vero tempora ipsa perferendis praesentium repellendus. A sint
        quas officia quo esse eos exercitationem voluptates unde illo quisquam,
        id, illum voluptatem cumque reiciendis ad assumenda, aspernatur
        molestiae. Vitae quidem suscipit, culpa illum ullam ipsa cum quis
        voluptatum dolorem possimus?
      </p>
      <button>Contact US</button>
    </div>
  </body>
</html>
